@using Car.Shared

<div>
	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">Name: </label>
		<div class="col-md-10">
			<label class="form-control-plaintext">@Customer.Properties.Name</label>
		</div>
	</div>
	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">Address: </label>
		<div class="col-md-10">
			<label class="form-control-plaintext">@Customer.Properties.Address</label>
		</div>
	</div>
	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">Email: </label>
		<div class="col-md-10">
			<label class="form-control-plaintext">@Customer.Properties.Email</label>
		</div>
	</div>
</div>


@code {
	[Parameter]
	public CustomerDTO Customer { get; set; }
}