@page "/customer/add"

@using Car.Shared
@using Car.UI.Components
@using Car.UI.Services
@inject ICustomerService CustomerService;
@inject NavigationManager NavigationManager

<h3>Add Customer</h3>

<div class="container-fluid p-0">
	<div class="card p-3">
		<CustomerForm Customer="Customer" OnValidSubmit="AddCustomerAsync" ButtonText="Add Customer" />
	</div>
</div>

@code {
	private CustomerPropertiesDTO Customer { get; set; } = new();

	private async Task AddCustomerAsync()
	{
		await CustomerService.AddCustomerAsync(Customer);
		NavigationManager.NavigateTo("/customer/list");
	}
}
