@page "/customer/list"

@using Car.Shared
@using Car.UI.Services
@using Car.UI.Components
@inject ICustomerService CustomerService
@inject NavigationManager Navigation

<h3>Customer List</h3>

@if (Customers is null)
{
	<p>Loading...</p>
}
else
{
	<CustomerList Customers="Customers" EnableSearch="true">
		<CustomerSelectedButton>
			<button @onclick="@(() => NavigateToCustomer(context))" class="btn btn-primary">Details</button>
		</CustomerSelectedButton>
	</CustomerList>
}

@code {
	private IList<CustomerGetDTO>? Customers { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Customers = await CustomerService.GetAllCustomersAsync();
	}

	private async Task NavigateToCustomer(CustomerGetDTO customer)
	{
		Navigation.NavigateTo($"/customer/{customer.Customer.Id}");
	}
}
