@page "/customer/add"

@using Car.Shared
@using Car.UI.Components
@using Car.UI.Services
@inject ICustomerService CustomerService;
@inject NavigationManager NavigationManager

<h3>CustomerAdd</h3>

<CustomerForm Customer="Customer" OnValidSubmit="AddCustomerAsync" ButtonText="Add Customer"/>

@code {
	private CustomerPropertiesDTO Customer { get; set; } = new();

	private async Task AddCustomerAsync()
	{
		await CustomerService.AddCustomerAsync(Customer);
		NavigationManager.NavigateTo("/customer/list");
	}
}
