@page "/work/{id:guid}"

@using Car.Shared
@using Car.UI.Components
@using Car.UI.Services
@inject IWorkService WorkService
@inject NavigationManager NavigationManager


<h3>WorkDetails</h3>

@code {
	[Parameter]
	public Guid Id { get; set; }

	private WorkGetUpdateDTO Work { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Work = await WorkService.GetWorkAsync(Id);
    }

    private async Task DeleteAsync()
    {
        await WorkService.DeleteWorkAsync(Id);
        NavigationManager.NavigateTo("/work/list");
    }

    private async Task UpdateAsync()
    {
        await WorkService.UpdateWorkAsync(Work);
        NavigationManager.NavigateTo("/work/list");
    }
}
