@page "/work/list"

@using Car.Shared
@using Car.UI.Components
@using Car.UI.Services
@inject IWorkService WorkService
@inject NavigationManager Navigation

<h3>Work List</h3>

@if (Works is null)
{
    <p>Loading...</p>
}
else
{
    <WorkList Works="Works" EnableSearch="true" CustomerIncluded="true">
        <WorkSelectedButtonTemplate>
            <a href="/work/@context.Work.Id" class="btn btn-primary">Details</a>
        </WorkSelectedButtonTemplate>
    </WorkList>
}

@code {
    private IList<WorkGetDTO>? Works { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Works = await WorkService.GetAllWorksAsync(includeCustomer: true);
    }
}
