@page "/work/list"

@using Car.Shared
@using Car.UI.Services
@inject IWorkService WorkService

<h3>Work List</h3>

@if (Works is null)
{
    <p>Loading..</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in Works)
            {
                <tr>
@*                     <td>@work.</td>
                    <td>@work.</td>
                    <td>@work.</td> *@
                    <td><a href="/work/@work.Work.Id" class="btn btn-primary">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<WorkGetIncludeCustomerDTO>? Works { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Works = await WorkService.GetAllWorksIncludeCustomerAsync();
    }
}
